.description{
    padding: 8px;
    margin-top: 8px;
    border: 8px;
    border-style: solid;
    border-left: hidden;
    border-right: hidden;
    

    font-size: 2rem;
}

.btn{
    margin: 2px;
    }
.author{
    background-color: #e0ebeb;
    padding: 2px;
    border-radius: 2px;
}

.likeBtn{
    border-radius: 4rem;

}
.icon{
 
    font-size: 2rem;
}
.date{
    font-size: 1rem;
}
.likeicon{
    font-size: 1.5rem;
}

.dateLikeRow{
    margin: 8px;
    
}


.error{
    border: 1px dashed red;
    padding: 2px;
    margin-top: 4px;
    border-radius: 4px;
}

.inputs{
    padding: 4px;
    margin-bottom: 2px;
    /* background-color: burlywood; */
}
.submit_buttom{
    justify-content: center;
    margin: 10px;
}

.labels{
    font-size: 1rem;
    margin-right: 8px;
}


.typeCommentSction{
    background-color: rgb(208, 208, 255);
    border-radius: 10px;
    
    margin: 8px;
}