.commentContainer{
    border: 1px;
    border-radius: 1rem;
    border-style: solid;
    border-color: lightgray;
    margin-top: 8px;
}

.commentTitle{
    background-color: lightcyan;
    font-size: 2rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: lightgray;
    border-bottom-style: solid;
    padding: 4px;
}